/*---------------*/
/*----General----*/
/*---------------*/

* { box-sizing: border-box; }

body {
	color: #777777;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background: url(../images/circles-light.png);
}

h1,h2,h3,h4,h5,h6 {
	color: #4aaaa5;
	font-family: "Georgia", Times, "Times New Roman", serif;
}

h1 { font-size: 25px; }

/*-----------------*/
/*----Container----*/
/*-----------------*/

.container {
	position: relative;
	width: 100%;
}

/*-----------------*/
/*----ClearFix----*/
/*-----------------*/

.clearfix { clear: both; }

.clearfix::before,
.clearfix::after {
	content: '';
	display: table;
}

.clearfix::after { clear: both; }

/*--------------*/
/*----Header----*/
/*--------------*/

header {
	background-color: #ffffff;
	height: 70px;
	width: 100%;
	border-bottom: 2px solid #cccccc;
}

.main-header {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

.main-header .name-tag {
	position: relative;
	float: left;
	width: 200px;
	height: 100%;
	margin-right: 528px;
	background-color: #4aaaa5;
	color: #fff;
	line-height: 3em;
	font-weight: 800;
	text-align: center;
	opacity: 0;
	animation: slide-right 1s 2s linear forwards;
}

.main-header .name-tag::before {
	position: absolute;
	top: 15px;
	left: -60px;
	content: '';
	width: 50px;
	height: 40px;
	border-top: 2px solid #bbb;
	border-bottom: 2px solid #bbb;
	animation: hidethis 1s 2s linear forwards;
}

.main-header .name-tag::after {
	position: absolute;
	top: 35px;
	left: -30px;
	content: '';
	width: 20px;
	height: 1px;
	border-top: 2px solid #bbb;
	animation: hidethis 1s 2s linear forwards;
}

.main-header li {
	position: relative;
	float: left;
	margin: 15px;
	line-height: 3em;
	opacity: 0;
}

.main-header .menuitem-1 {
	animation: bounce 2s 400ms linear forwards;	
}

.main-header .menuitem-2 {
	animation: bounce 2s 100ms linear forwards;	
}

.main-header .menuitem-3 {
	animation: bounce 2s 700ms linear forwards;	
}

.main-header li:last-child {
	margin-right: 0;
}

.main-header a {
	position: relative;
	text-decoration: none;
	color: #777777;
}

.main-header li:nth-child(1) a::after,
.main-header li:nth-child(2) a::after {
	content: '';
	position: absolute;
	width: 1px;
	top: calc(50% - .75em);
	height: 100%;
	right: -16px;
	border-right: 2px solid #eee;
}
.main-header a:hover {
	border-bottom: 3px solid #4aaaa5;
	color: #4aaaa5;
	animation: bounce-c 200ms 300ms linear forwards;
}

/*--------------*/
/*----Footer----*/
/*--------------*/

footer {
	background-color: #666666;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	border-top: 5px solid #4aaaa5;
}

footer p {
	margin: 30px auto;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

/*---------------------------*/
/*----Main Content: Index----*/
/*---------------------------*/

.center-content {
	width: 960px;
	margin: 30px auto;
}

.main-content,
#connect-with-me {
	background-color: #ffffff;
	float: left;
	padding: 30px;
	padding-bottom: 40px;
	margin-bottom: 100px;
	border: 1px solid #dddddd;
}

/*--------------------*/
/*----Main Content----*/
/*--------------------*/

.main-content {
	width: 650px;
	margin-right: 40px;
}

.main-content h2 {
	font-size: 30px;
	border-bottom: 3px solid #ddd;
}

/* About Page */
.main-content img {
	float: left;
	margin-right: 15px;
	width: 200px;
}

.main-content .profile {
	animation: popup 1s linear;
}

.main-content p {
	line-height: 2em;
}

#connect-with-me h3,
.main-content h2 {
	position: relative;
	font-weight: bold;
	padding-bottom: 1em;
	margin-bottom: 1em;	
}

/* Contact Page */
.contact-form h4 {
	color: #777;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	/*margin: 5px 0;*/
}

.contact-form .form-label {
	color: #777;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;	
}

.contact-form input,
.contact-form textarea {
	margin: 10px 0 15px 0;
	padding: 5px;
	width: 100%;
	border: 1px solid #ddd;
}

.contact-form input:focus {
	box-shadow: 0 0 10px rgba(0, 102, 255, .5);
}

.boom {
	text-shadow: 0 0 10px rgba(0, 102, 255, .5);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
	color: #bbb;
}

.contact-form textarea {
	margin-bottom: 25px;
}

.contact-form .btn {
	background-color: #4aaaa5;
	color: #fff;
	font-size: 18px;
	height: 50px;
	width: 100px;
	padding: 10px 30px;
	text-decoration: none;
	margin-bottom: 20px;
}

.contact-form .btn:hover {
	box-shadow: 0 0 10px rgba(0, 102, 255, 1);
}

/* Portfolio Page */
.portfolio-list li {
	position: relative;
	float: left;
	margin-bottom: 30px;
	overflow: hidden;
}

.portfolio-list li:nth-child(odd){
	margin-right: 38px;
}

.portfolio-list img {
	position: relative;
	width: 275px;
	height: 206px;
	margin: 0;
	opacity: 0;
}

.portfolio-list h5 {
	position: absolute;
	bottom: 4%;
	bottom: -120%;
	width: 100%;
	height: 30%;
	background-color: #4aaaa5;
	color: #fff;
	font-size: 20px;	
	text-align: center;
	line-height: 2.7em;	
	animation: bounce-b 2s 3s linear forwards;
}

.icon-left {
	animation: move-right 500ms forwards;
}

.icon-right {
	animation: move-left 500ms forwards;
}

.row-1 {
	animation-delay: 1000ms;
}

.row-2 {
	animation-delay: 1500ms;
}

.row-3 {
	animation-delay: 2000ms;
}

/* SVG Style 1 */

.dash {
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
	transition: stroke-dashoffset 0.7s;  /* Controls the speed of the line */
}

.dash:hover {
	stroke-dashoffset: 0;
}

.dash path {
	pointer-events: all;  /* allows path fill color to change on hover*/
}

.dash path:hover {
	fill: rgba(0,0,0,.3);
}

svg {
	will-change: transform;

	transition: transform 0.2s ease-out;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	fill: none;
	stroke: #fff;
	stroke-width: 1.5px;
}

/*-----------------------*/
/*----Connect With Me----*/
/*-----------------------*/

#connect-with-me {
	width: 270px;
	overflow: hidden;
}

#connect-with-me h3 {
	font-size: 22px;
	border-bottom: 2px solid #eee;
}

#connect-with-me .icon {
	position: relative;
	width: 60px;
	height: 60px;
	overflow: hidden;
}

#connect-with-me ul {
	margin: 0 auto;
}

#connect-with-me li {
	position: relative;
	float: left;
	margin-right: 9px;
}

#connect-with-me li.icon-1 {
	animation: icon-phase-in 1s linear forwards;
}

#connect-with-me li.icon-2 {
	opacity: 0;
	animation: icon-phase-in 1s 300ms linear forwards;
}

#connect-with-me li.icon-3 {
	opacity: 0;
	animation: icon-phase-in 1s 600ms linear forwards;
}

#connect-with-me img:hover {
	animation: shrink-splash 1s 300ms linear;
}

/*--------------*/
/*----Animations----*/
/*--------------*/

/* Connect with Me Icons on hover */
@keyframes shrink-splash {
	0% { transform: rotate(-360deg) scale(1); }

	50% { border-radius: 50%; }

	60% {
		transform: rotate(0deg) scale(.1);
		border-radius: 50%;
	}

	65% { transform: scale(1); }

	70% { transform: scale(1.2); }

	100% { transform: scale(1); }
}

/* Connection with Me icons on page load */
@keyframes icon-phase-in {
	0% {
		bottom: -120px;
		opacity: 0;
		transform: scale(.2);
	}

	100% {
		bottom: 0;
		opacity: 1;
		transform: scale(1);
	}
}

/* Navigation links on page load */
@keyframes bounce {
	0% {
		opacity: 0;
		top: -50px;
	}

	20% {
		opacity: 1;
		top: 0;
		transform: scale(1);
	}

	22% {
		top: 0;
		transform: scale(1.2, 1);
	}

	25% {
		transform: scale(1);
	}

	30% {
		top: -10px;
	}

	40% {
		top: 0;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

/* portfolio image banners */
@keyframes bounce-b {
	0% {
		opacity: 0;
		bottom: 120%;
	}

	20% {
		opacity: 1;
		bottom: 4%;
		transform: scale(1);
	}

	22% {
		bottom: 4%;
		transform: scale(1.2, 1);
	}

	25% {
		transform: scale(1);
	}

	30% {
		bottom: 10%;
	}

	40% {
		bottom: 4%;
	}

	100% {
		opacity: 1;
		bottom: 4%;
	}
}

@keyframes bounce-c {

	0% {
		top: 0;
	}

	50% {
		top: -10px;
	}

	100% {
		top: 0;
	}
}

/* name-tag on page load */
@keyframes slide-right {
	0% {
		left: -350px;
		opacity: 0;
	}

	10% {
		opacity: 1;
		transform: skew(20deg);
	}

	80% {
		left: 200px;
		opacity: 1;
		transform: skew(0deg);
	}

	100% {
		left: 0;
		opacity: 1;
		transform: skew(0deg);
	}
}

/* name-tag speedlines */
@keyframes hidethis {
/*	66% {
		opacity: 0;
	}*/
	100% {
		opacity: 0;
	}
}

/* profile pic on page load */
@keyframes popup {
	0% {
		transform: scale(0);
		border-radius: 50%;
	}

	30% {
		border-radius: 50%;
	}

	100% {
		transform: scale(1);
		border-radius: 0;
	}
}

/* Portfolio pics (left side) */
@keyframes move-right {
	0% {
		left: -100%;
		opacity: 1;
	}

	100% {
		left: 0;
		opacity: 1;
	}
}

/* Portfolio pics (right side) */
@keyframes move-left {
	0% {
		right: -100%;
		opacity: 1;
	}

	100% {
		right: 0;
		opacity: 1;
	}
}