/*---------------*/
/*----General----*/
/*---------------*/

* {
	box-sizing: border-box;
}

body {
	color: #777777;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background: url(../images/circles-light.png);
}

h1,h2,h3,h4,h5,h6 {
	color: #4aaaa5;
	font-family: "Georgia", Times, "Times New Roman", serif;
}

h1 {
	font-size: 25px;
}

/*-----------------*/
/*----Container----*/
/*-----------------*/

.container {
	position: relative;
	width: 100%;
}

/*--------------*/
/*----Header----*/
/*--------------*/

header {
	background-color: #ffffff;
	border-color: #cccccc;
	height: 70px;
	width: 100%;
	border-bottom: 2px solid #ddd;
}

.main-header {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

.main-header .name-tag {
	background-color: #4aaaa5;
	width: 200px;
	height: 100%;
	text-align: center;
	float: left;
	margin-right: 528px;
}

.main-header .name-tag h1 {
	color: #fff;
	line-height: 3em;
	font-weight: 800;
}

.main-header li {
	position: relative;
	float: left;
	margin: 15px;
	line-height: 3em;
}

.main-header li:last-child {
	margin-right: 0;
}

.main-header a {
	position: relative;
	text-decoration: none;
	color: #777777;
}

.main-header li:nth-child(1) a::after,
.main-header li:nth-child(2) a::after {
	content: '';
	position: absolute;
	width: 1px;
	top: calc(50% - .75em);
	height: 100%;
	right: -16px;
	border-right: 2px solid #eee;
}
.main-header a:hover {
	border-bottom: 3px solid #4aaaa5;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	color: #4aaaa5;
}

/*--------------*/
/*----Footer----*/
/*--------------*/

footer {
	background-color: #666666;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	/*height: 12vh;*/
	border-top: 5px solid #4aaaa5;
}

footer p {
	margin: 30px auto;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

/*---------------------------*/
/*----Main Content: Index----*/
/*---------------------------*/

.center-content {
	width: 960px;
	margin: 30px auto;
}

.main-content,
.connect-with-me {
	background-color: #ffffff;
	float: left;
	padding: 30px;
	padding-bottom: 40px;
	margin-bottom: 100px;
	border: 1px solid #ddd;
}

/*--------------------*/
/*----Main Content----*/
/*--------------------*/

.main-content {
	width: 650px;
	margin-right: 40px;
}

.main-content h2 {
	font-size: 30px;
	border-bottom: 3px solid #ddd;
}

/* About Page */
.main-content img {
	float: left;
	margin-right: 15px;
	width: 200px;
}

.main-content p {
	line-height: 2em;
}

.connect-with-me h3,
.main-content h2 {
	font-weight: bold;
	padding-bottom: 1em;
	margin-bottom: 1em;	
}

/* Contact Page */
.main-content h4 {
	color: #777;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	/*margin: 5px 0;*/
}

.main-content input,
.main-content textarea {
	margin: 10px 0 15px 0;
	padding: 5px;
	width: 100%;
	border: 1px solid #ddd;
}

.main-content input::placeholder,
.main-content textarea::placeholder {
	color: #bbb;
}

.main-content textarea {
	margin-bottom: 25px;
}

.main-content .btn {
	background-color: #4aaaa5;
	color: #fff;
	font-size: 18px;
	height: 50px;
	width: 100px;
	padding: 10px 30px;
	text-decoration: none;
	margin-bottom: 20px;
}

.main-content .btn:hover {
	box-shadow: 0 0 10px rgba(0, 102, 255, 1);
	/*box-shadow: 0 0 10px rgba(0, 0, 0, .6);*/
}

/* Portfolio Page */
.portfolio-list li {
	position: relative;
	float: left;
	margin-bottom: 30px;
}

.portfolio-list li:nth-child(odd){
	margin-right: 38px;
}

.portfolio-list img {
	width: 275px;
	height: 206px;
	margin: 0;
}

.portfolio-list h5 {
	position: absolute;
	bottom: 4%;
	width: 100%;
	height: 30%;
	background-color: #4aaaa5;
	color: #fff;
	font-size: 20px;	
	text-align: center;
	line-height: 2.7em;
}

/*-----------------------*/
/*----Connect With Me----*/
/*-----------------------*/

.connect-with-me {
	width: 270px;
}

.connect-with-me h3 {
	font-size: 22px;
	border-bottom: 2px solid #eee;
}

.connect-with-me .icon {
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.connect-with-me ul {
	margin: 0 auto;
}

.connect-with-me li {
	position: relative;
	float: left;
	margin-right: 9px;
}

.connect-with-me img:hover {
	-webkit-animation: shrink-splash 1s 300ms linear;
	-o-animation: shrink-splash 1s 300ms linear;
	animation: shrink-splash 1s 300ms linear;
}

@keyframes shrink-splash {
	0% {
		transform: rotate(-360deg) scale(1);
	}

	50% {
		border-radius: 50%;
	}

	60% {
		transform: rotate(0deg) scale(.1);
		border-radius: 50%;
	}

	65% {
		transform: scale(1);
	}

	70% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}


/*--------------*/
/*----Extras----*/
/*--------------*/
